.main{
  margin-left: 20px;
    margin-right: 20px;
}

.headerclr{
  background-color: rgba(237,242,250,255) !important;
  margin-top: 9px;
  border-radius: 30px;
  height: 45px;

}

.searchcls{
  border-radius: 30px;
  height: 30px;
  width: 275px;

}



